/*
.container_history{

    background-color:  #fbeee0;
		
		
		
    /*background-size : 1500px;
}

.container{
	background-color: rgba(26, 0, 0, 0.3);
	color: white;
}

.container_home{
	background-image: url("b3.jpg");
	background-size: 1500px;
	}
*/