body
{
    background-image: url('bgorange.jpg');
}
.mydashboard
{
    width:30%;
    background-color: brown;
    float: left;
    margin: 1px;
    display: inline-block;
    
}
.form
{
    width:70%;
    margin: 0px auto;
    float: right;
    display: inline;
}
.clear
{
    clear: both;
}